{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "prettier",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/indent": [
      "error",
      "tab"
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "no-restricted-syntax": "off",
    "@next/next/no-img-element": "off",
    "react/require-default-props": "off"
  }
}