@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Poppins:wght@600;900&display=swap");

:root {
	--background: #fce9ea;
	--brand: #ff7e95;
	--font-color: #f8a6b4;
	--card-bg: #d99fa9;
	--fonts: Poppins, sans-serif;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fonts);
	background-color: var(--background);
	font-size: 16px;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 950px) {
	body {
		font-size: 13px;
	}
}
