.header {
	position: sticky;
	display: flex;
	width: 100%;
	padding: 2em;
	padding-bottom: 1em;
}

.brand {
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2em;
	color: #ff7e95;
}
