.contentWrapper {
	display: flex;
	justify-content: center;
}

.slogan {
	max-width: 800px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 120px;
	text-align: center;
	color: #f8a6b4;
}

.attention {
	font-weight: 800;
	color: #ff7e95;
}
