.contentWrapper {
	display: flex;
	justify-content: center;
}

.slogan {
	max-width: 600px;
	font-style: normal;
	font-weight: 600;
	font-size: 4em;
	line-height: 1.5em;
	text-align: center;
	color: var(--font-color);
}

.attention {
	font-weight: 800;
	color: var(--brand);
}

.cardWrapper {
	padding: 30px 0;
	overflow-x: hidden;
	margin-top: 1em;
	display: flex;
	justify-content: center;
}
