$wrapperHeigth: 562px;
$wrapperWidth: 500px;

$imageHeigth: 562px;

.waifuWrapper {
	position: relative;
	height: $wrapperHeigth;
	width: $wrapperWidth;
	background: #f8a6b4;
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
}

.waifuImage {
	display: block;
	margin-left: -3.5em;
	height: $imageHeigth;
	user-select: none;
	pointer-events: none;
}

.cardTitle {
	position: absolute;
	margin-left: 0.35em;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 3.7em;
	line-height: 1.5em;
	text-align: center;
	text-transform: uppercase;
	color: #fce9ea;
	user-select: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.waifuWrapper {
		height: #{$wrapperHeigth * 0.8};
		width: #{$wrapperWidth * 0.8};
	}

	.waifuImage {
		display: block;
		margin-left: -3.5em;
		height: #{$imageHeigth * 0.8};
	}

	.cardTitle {
		font-size: 3.7em;
	}
}

@media screen and (max-width: 480px) {
	.waifuWrapper {
		height: #{$wrapperHeigth * 0.6};
		width: #{$wrapperWidth * 0.6};
	}

	.waifuImage {
		display: block;
		margin-left: -3.5em;
		height: #{$imageHeigth * 0.6};
	}
	.cardTitle {
		font-size: 3.5em;
	}
}
